<section class="sec text-center" >
  <div class="container">
          <div class="card this-card">
          <h1>mainTitle</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem culpa porro est accusantium quod amet laudantium, officia voluptate dolores. Modi, accusantium possimus? Ad esse corporis natus est quibusdam obcaecati ipsa.</p>
         <button
           type="button"
           #open
           class="btn btn-primary align-self-center"
           (click)="openPopup()"
           >ReadMore</button>
      </div>
      <div class="row pt-5 justify-content-center justify-content-lg-evenly gap-1  gap-sm-2 gap-md-5">
        <!-- must use *ngFor And arr to calcu for them data -->
      <div class="cards">
       <div class="forward">
       <div class="w-50 content">
        <img class=" img-fluid" src="../../assets/images/zoz.PNG" alt="">
       </div>
       <div class="develop">
          <h3>Ziad Mahmoud</h3>
          <p>FrontEnd Developer</p>
       </div>
       </div>
       <div class="back">
          <div class="detail">
         <p>Faculty of Frontend Development and Web Technologies, Helwan University</p>
         <div class="social">
        <a href="https://www.linkedin.com/in/ziad-mahmoud-mohammed/"><i class="bi bi-linkedin"></i></a>
        <a href=""><i class="bi bi-whatsapp"></i></a>
          <a href="https://github.com/ZiadMahmoudas"> <i class="bi bi-github"></i></a>
         </div>
      </div>
       </div>
      </div>
      <div class=" cards">
       <div class="forward">
       <div class="w-50 content">
          <img class=" img-fluid" src="../../assets/images/zoz.PNG" alt="">
       </div>
       <div class="develop">
          <h3>Ziad Mahmoud</h3>
          <p>FrontEnd Developer</p>
       </div>
       </div>
       <div class="back">
          <div class="detail">
         <p>Faculty of Frontend Development and Web Technologies, Helwan University</p>
         <div class="social">
        <a href="https://www.linkedin.com/in/ziad-mahmoud-b023bb291/"><i class="bi bi-linkedin"></i></a>
        <a href=""><i class="bi bi-whatsapp"></i></a>
          <a href="https://github.com/ZiadMahmoudas"> <i class="bi bi-github"></i></a>
         </div>
      </div>
       </div>
      </div>
      <div class=" cards">
       <div class="forward">
       <div class="w-50 content">
          <img class=" img-fluid" src="../../assets/images/zoz.PNG" alt="">
       </div>
       <div class="develop">
          <h3>Ziad Mahmoud</h3>
          <p>FrontEnd Developer</p>
       </div>
       </div>
       <div class="back">
          <div class="detail">
         <p>Faculty of Frontend Development and Web Technologies, Helwan University</p>
         <div class="social">
        <a href="https://www.linkedin.com/in/ziad-mahmoud-b023bb291/"><i class="bi bi-linkedin"></i></a>
        <a href=""><i class="bi bi-whatsapp"></i></a>
          <a href="https://github.com/ZiadMahmoudas"> <i class="bi bi-github"></i></a>
         </div>
      </div>
       </div>
      </div>
      </div>
  </div>
  <div
  class="popupItem"
  #popupItem>
   <h2>Thank You!</h2>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita ullam repellat voluptatem, laborum ad possimus eligendi alias ducimus. Eius dolore maiores quasi asperiores autem deleniti nemo eos animi libero repellat!    </p>
   <button
   #close
    class="btn btn-success"
    (click)="closePopup()"
     type="button">Ok</button>
</div>
</section>