<div id="webpack-dev-server-client-overlay-div"
  style=" box-sizing: border-box; inset: 0px;   font-size: large; padding: 2rem 2rem 4rem; line-height: 1.2; white-space: pre-wrap; overflow: auto; background-color: rgba(0, 0, 0, 0.8); color: white;">

    <div style="background-color: rgba(206, 17, 38, 0.8);height: 80vh;display: flex; flex-direction: column;justify-content: center; align-items: center; color: rgb(252, 207, 207); padding: 1rem 1rem 1.5rem;">
      <div style="color: rgb(232, 59, 70); font-size: 1.2em; margin-bottom: 1rem; font-family: sans-serif;"><i class="bi bi-exclamation-octagon-fill"></i> OOPs</div>
      <div style="line-height: 1.5; display: flex; flex-direction: column; gap: 1.25rem; font-size: 1rem; font-family: Menlo, Consolas, monospace;">
      <p>
        this page is not found please back this page
      </p>
      <h1>404 - Page Not Found</h1>
   </div>
    </div>
  </div>
