<section class="sec">
  <div class="graident-color"></div>
  <div
      class="Senses  container d-flex flex-column-reverse flex-md-row align-items-center">
      <div class="Feast d-flex flex-column">
          <small>Feast Your Senses</small>
          <h1>Bon Appetit:
              <span>Explore Culinary</span>Creations
          </h1>
          <p>Your ultimate destination for all things food!
              Explore our extensive collection of mouthwatering
              recipies.</p>
      </div>
      <div class="pic">
          <img src="../../assets/images/img.png" class="img-fluid" alt>
      </div>
      <div class="graident-colo"></div>
  </div>
</section>

<section class="sec3 pt-5">
  <div class="container best">
      <div class="cover"><img src="../../assets/images/Right.png" alt
              class="img-fluid"></div>
      <div class="season">
          <h3>Order Your Best Food
              Any Time</h3>
          <p>Whether you're a seasoned chef or a kitchen novice
              our user friendly platform caters to all levels of
              expertise, ensuring everyone can saver the joy of
              creating delicious meals</p>
          <a  class="red-btn Order Now " (click)="navigateDetails()">Order Now<i class="bi bi-arrow-right"></i></a>
      </div>
  </div>
</section>
<section class="sec4 pt-5 pb-5" id="Services">
  <div class="container text-center">
      <h2 class="pb-5">Our Food Process</h2>
      <div
          class="line row d-flex flex-md-row flex-column gap-5 gap-md-0">
          <div class="offer col-md-4 d-flex flex-column gap-3 ">
              <div>
                  <img class="img-fluid"
                      src="../../assets/images/Process2 Illustration.svg" alt>
              </div>
              <h4>Prepare</h4>
              <p>Restraunt offer a variety of dining
                  experiences.</p>
          </div>
          <div class="offer col-md-4 d-flex flex-column gap-3">
              <div>
                  <img class="img-fluid"
                      src="../../assets/images/Process Illustration.svg" alt>
              </div>
              <h4>Packing</h4>
              <p>Catering companies specialize in providing food
                  and beverages.</p>
          </div>
          <div class="offer col-md-4 d-flex flex-column gap-3">
              <div>
                  <img class="img-fluid"
                      src="../../assets/images/Process1 Illustration.svg" alt>
              </div>
              <h4>Deliver</h4>
              <p>Meal delivery services deliver freshly prepared
                  meals directly to customers.</p>
          </div>
      </div>
  </div>
</section>
