<footer class="mt-3" id="footer">
  <div class="sec1 pt-5">
     <div class="container gap-2">
       <div class="inner-container">
           <div class="destination">
               <div>
               <img src="../../assets/images/Logo.svg" class="img-fluid" alt="">
           </div>
               <p>Your ultimate destination for all things food! Explore our extensive
                   collection of mouthwatering recipies.</p>
           </div>
        <div class="magic">
           <ul>
               <h2>Menu</h2>
               <p><li>About</li></p>
               <p><li>Menu</li></p>
                   <p><li>Event</li></p>
                       <p> <li>Offer</li></p>
           </ul>
           <ul>
               <h2>Information</h2>
               <p> <li>Contact</li> </p>
                   <p> <li>Order & Returns</li></p>
                       <p> <li>Videos</li></p>
                           <p><li>Reservation</li></p>
           </ul>
           <ul >
               <h2>Address</h2>
               <p><li>1 2 3 4 Bay Street,</li></p>
               <p><li>City Name,231344</li></p>
               <p ><li>9:00 AM - 2:00 PM</li></p>
               <p><li>8:00 PM - 12:00 PM</li></p>
           </ul>
        </div>
       <div class="accor">
           <div class="accordion" id="accordionExample">
               <div class="accordion-item">
                   <h2 class="accordion-header">
                       <button #btn1 id="btn1" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                           Menu
                       </button>
                   </h2>
                   <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                       <div class="accordion-body">
                           <ul class="menu">
                               <li><p>About</p></li>
                               <li><p>Menu</p></li>
                               <li><p>Event</p></li>
                               <li><p>Offer</p></li>
                           </ul>
                       </div>
                   </div>
               </div>

               <div class="accordion-item">
                   <h2 class="accordion-header">
                       <button  id="btn2" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                           Information
                       </button>
                   </h2>
                   <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                       <div class="accordion-body">
                           <ul class="info">
                               <li><p>Contact</p></li>
                               <li><p>Order & Returns</p></li>
                               <li><p>Videos</p></li>
                               <li><p>Reservation</p></li>
                           </ul>
                       </div>
                   </div>
               </div>

               <div class="accordion-item">
                   <h2 class="accordion-header">
                       <button  id="btn3" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                           Address
                       </button>
                   </h2>
                   <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                       <div class="accordion-body">
                           <ul class="add">
                               <li><p>1 2 3 4 Bay Street,</p></li>
                               <li><p>City Name, 231344</p></li>
                               <li><p>9:00 AM - 12:00 PM</p></li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       </div>
       <div class="social pt-5">
           <div class="media">
               <a href=""><i class="bi bi-tiktok"></i></a>
               <a href=""> <i class="bi bi-facebook"></i></a>
               <a href=""> <i class="bi bi-instagram"></i></a>
               <a href=""><i class="bi bi-twitter-x"></i></a>
           </div>
           <p class="text-center">Copyright (c) 2024 sitename | All rights reserved</p>
       </div>
     </div>
   </div>
</footer>